.Loader {
  animation-direction: reverse;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-name: spin;
  animation-timing-function: linear;
  width: 10rem;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
